page-login {
    .login-logo {
        width: 70% !important;
        height: 70% !important;
        margin-top: 20px !important;
    }
    .content .content figure {
        width: 150px !important;
        height: 150px !important;
    }
    .content {
        background-color: transparent !important;
            
        .background {
            position: fixed;
            background-repeat: no-repeat !important;
            background-position:  50% 50% !important;
            background-size: cover !important;
            filter: blur(3px);
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .cape {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
            width: 100%;
            height: 100%;
        }

        .content {
            position: relative;
            padding: 0px 42px;
            text-align: center;
            z-index: 3;

            figure {
                margin: 0px auto;
                width: 260px;
                height: 195px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .login-form,
            .register-form {
                .item {
                    background-color: rgba(0, 0, 0, 0.5);
                    margin-bottom: 15px;

                    .item-inner {
                        color: map-get($colors, 'light');
                        border-bottom: none;
                    }
                }
            }

            .socials-buttons {
                display: flex;

                .separator-text {
                    margin: 10px;
                    color: map-get($colors, 'light');
                }
            }

            .divider {
                background-color: rgba(255, 255, 255, 0.3);
                margin: 25px 0 15px;
            }
        }
    }
}
