<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="newUser" (ngSubmit)="registerForm()" class="login-form">

        <ion-item>
          <ion-label color="dark-yellow">
            Tipo de usuario
          </ion-label>
            <ion-select formControlName="role_id" (ionChange)="setValidatorsForMedicalLicense()">
              <ion-option *ngFor="let role of allRoles" value="{{role.roles_id}}">{{role.name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="dark-yellow">
            e-mail 
          </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>       
        
        <ion-item *ngIf="newUser.controls.email.dirty && newUser.controls.email.hasError('email')">
          <p>e-mail inválido</p>
        </ion-item>
        
        <ion-item>
          <ion-label color="dark-yellow">
            Nombre 
          </ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="dark-yellow">
            CUIT/CUIL 
          </ion-label>
          <ion-input type="text" [brmasker]="{mask:'00-00000000-0', len:13, type:'num'}" formControlName="document"></ion-input>
        </ion-item>

        <ion-item *ngIf="newUser.controls.document.hasError('minlength')">
          <p>CUIT/CUIL incorrecto</p>
        </ion-item>

        <ion-item>
          <ion-label color="dark-yellow">
            Password
          </ion-label>
          <ion-input type="password" name = "password" formControlName="password" (change)="checkEmptyPassword()"></ion-input>
        </ion-item>

        <ion-item *ngIf="passwordErrorMessage">
          <p>La contraseña debe tener al menos 8 caracteres</p>
        </ion-item>

        <ion-item>
          <ion-label color="dark-yellow">
            Confirmar Password
          </ion-label>
          <ion-input type="password" name = "cPassword" formControlName="cPassword" (change)="checkEmptyPassword()"></ion-input>
        </ion-item>
        
        <ion-item *ngIf="cPasswordErrorMessage">
          <p>La contraseña debe tener al menos 8 caracteres</p>
        </ion-item>
        

        <ion-item *ngIf="newUser.value.role_id =='37a938a1-e7f0-42c2-adeb-b8a9a36b6cb8'">
          <ion-label color="dark-yellow">
            Licencia médica
          </ion-label>
          <ion-input type="license" name = "license" formControlName="license"></ion-input>
        </ion-item>

        <button ion-button full color="darken-blue" type="submit" [disabled]="!newUser.valid">Registrarse</button>
      </form>
</ion-content>
