<ion-header >
  <ion-navbar hideBackButton>
    <ion-title>Profesional de la Salud</ion-title>
  </ion-navbar>

  <ion-toolbar>
      <ion-segment [(ngModel)]="icons" color="primary">
        <ion-segment-button id="SecurityCode" value="securityCode" (click)="securityCode()">
          Código de Seguridad
        </ion-segment-button>
        <ion-segment-button id="Pending" value="pending" (click)="obtainQRs('Pending')">
          Pendientes
        </ion-segment-button>
        <ion-segment-button id="Enabled" value="enabled" (click)="obtainQRs('Enabled')">
          Habilitados
        </ion-segment-button>
        <ion-segment-button id="Disabled" value="disabled" (click)="obtainQRs('Disabled')">
          Deshabilitados
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-fab bottom right edge>
    <button ion-fab mini item-end (click)="createQR()">+</button>
  </ion-fab>
  <ion-list *ngIf="!security_code">
    <ion-item-sliding  #item *ngFor="let qr of qrs">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="{{qr.image}}">
        </ion-thumbnail>
        <p item-end>{{qr.state}}</p>
      </ion-item>   
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="openModal({qr_id: qr.id})">Información</button>
        <button *ngIf="qr.qr_state_id!=='c815819f-a121-453a-8708-f8b0e1a70215'" ion-button color="success" (click)="enable(qr)">Habilitar</button>
        <button *ngIf="qr.qr_state_id!=='7923230e-9c35-4f93-9fb3-5e2634a0f5e1'" ion-button color="danger" (click)="disable(qr)">Inhabilitar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>   
  <ion-list *ngIf="security_code">
    <ion-item>
      Código de Seguridad: {{this.code.code}}
    </ion-item>   
  </ion-list>   
</ion-content>
